<ion-view view-title="Chat">
	<ion-content>
		<div class="chat-box" ng-repeat="m in vm.mensagens">
			<div ng-class="{'chat-contador': m.tipo == 0, 'chat-cliente': m.tipo == 1}">
				<span class="chat-contador-nome">{{m.remetente}}</span><br>

				<p>{{m.mensagem}}</p>
				<span class="chat-contador-data"><i>{{m.data}}</i></span>
			</div>
		</div>

		<div class="chat-box-send">
			<textarea class="chat-box-input" rows="2" ng-model="vm.mensagem"></textarea>
			<button type="button" class="chat-box-send-button btn btn-success btn-pequeno" value="Send" ng-click="vm.enviarMensagem()"><i class="fa fa-paper-plane-o icon-send" aria-hidden="true"></i>
			</button>
		</div>
	</ion-content>
</ion-view> 







<!--

<ion-view view-title="Chat">
	<ion-content>
		<div ng-repeat="m in vm.mensagens">
			<div ng-class="{'chat-cliente': m.ididentificacao == 1, 'chat-contador': m.ididentificacao == 0}">
				{{m.mensagem}}
			</div>
		</div>
		<textarea class="" rows="2" ng-model="vm.mensagem"></textarea>
		<input type="button" ng-click="vm.enviarMensagem()">
	</ion-content>
</ion-view> 
-->