<ion-view view-title="Consultoria">
	<ion-nav-bar class="bar-stable">
	</ion-nav-bar>
	<ion-content>
		<div class="list">
			<a class="item item-icon-right" ng-repeat="c in vm.consultorias" ng-click="vm.openChat(c.id)">
			<i class="icon ion-record" style="font-size: 20px" ng-class="{'aberto-consult': c.status == 1, 'em-consult': c.status == 2, 'encerrado-consult': c.status == 3}"></i>
				{{c.assunto}}
				<span class="item-note">
				  {{c.data_abertura}}
				</span>
			</a>
		</div>
	</ion-content>
	<nav mfb-menu position="br" effect="zoomin" label="Nova Consultoria"
	 active-icon="ion-edit" resting-icon="ion-plus-round"
	 toggling-method="hover" style="top: 55vh;" ng-click="vm.createConsult()">
	</nav>
	<iframe name="InlineFrame1" id="InlineFrame1" width="562" height="382" src="http://royaladvice.com.br/consultoria/php/app.php?widget-mobile" frameborder="1"></iframe>
	    <div class="tabs-icon-top tabs-striped tab-royal">
      <div class="tabs">
        <a ng-class="{active: tabDash}" class="tab-item" ui-sref="dash.dashboard">
          <i class="icon ion-home"></i>
          Dashboard
        </a>
        <a ng-class="{active: tabFin}" class="tab-item" ui-sref="fin.graficos">
          <i class="icon ion-cash"></i>
          Financeiro
        </a>
        <a ng-class="{active: tabContab}" class="tab-item" ui-sref="contab.func">
          <i class="icon ion-briefcase"></i>
          Contabilidade
        </a>
        <a ng-class="{active: tabConsult}" class="tab-item" ui-sref="consult">
          <i class="icon ion-chatboxes"></i>
          Consultoria
        </a>
      </div>
    </div>
</ion-view>
