<ion-view view-title="Principal">
	<ion-content>
		<div class="row">
			<div class="col col-100">
				<canvas id="bar" class="chart chart-bar"
			  	chart-data="vm.data" chart-labels="vm.labels" chart-series="vm.series" chart-colors="vm.colors" chart-options="vm.options">
				</canvas>
			</div>
		</div>
	</ion-content>
</ion-view>
