<ion-view view-title="Contas">
	<ion-content>
		<div class="list" ng-if="vm.contas.length > 0">
		  <div class="item item-button-right" ng-repeat="c in vm.contas track by $index">
		  	<div ng-click="vm.openModal($index)">
			    <i class="icon ion-pricetag" style="background: {{c.cor}}; padding: 5px; color: white; border-radius:5px;"></i> {{c.nome + " "}}
		  	</div>

		    <button class="button button-assertive" ng-click="vm.excluirConta(c.id)">
		    	<i class="fa fa-minus-square-o" aria-hidden="true"></i>
		    </button>
		    <button class="button button-positive" style="right: 65px" ng-click="vm.criarConta($index)">
		    	<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
		    </button>
		  </div>
		</div>
	</ion-content>
	<nav mfb-menu position="br" effect="zoomin" label="Cadastrar Conta"
     active-icon="ion-edit" resting-icon="ion-plus-round"
     toggling-method="hover" style="top: 55vh;" ng-click="vm.criarConta()">
	</nav>
</ion-view>