<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    <!--  <ion-nav-buttons side="right">
        <a class="button button-icon icon ion-chatbubbles" ng-click="vm.openChat()"></a>
        <a class="button button-icon icon ion-chevron-down"></a>
      </ion-nav-buttons>-->
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar>
      <ion-toolbar>
        <ion-title><img src="img/logo.png" class="logo-size" alt="logo"></ion-title>
      </ion-toolbar>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close ui-sref="fin.graficos">
          <i class="fa fa-bar-chart" aria-hidden="true"></i> Gráficos
        </ion-item>
        <ion-item menu-close href="#/fin/contas">
          <i class="fa fa-university" aria-hidden="true"></i> Contas
        </ion-item>
        <ion-item menu-close href="#/fin/movimentacao">
          <i class="fa fa-list" aria-hidden="true"></i> Movimentação
        </ion-item>
        <ion-item menu-close href="#/fin/receber">
          <i class="fa fa-plus" aria-hidden="true"></i> Minhas Receitas
        </ion-item>
        <ion-item menu-close href="#/fin/pagar">
          <i class="fa fa-minus" aria-hidden="true"></i> Minhas Despesas
        </ion-item>
        <ion-item menu-close href="#/fin/tiposreceita">
          <i class="fa fa-tag" aria-hidden="true"></i> Tipos de Receita
        </ion-item>
        <ion-item menu-close href="#/fin/tiposdespesa">
          <i class="fa fa-tag" aria-hidden="true"></i> Tipos de Despesa
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
<div class="tabs-icon-top tabs-striped tab-royal">
  <div class="tabs">
    <a ng-class="{active: tabDash}" class="tab-item" ui-sref="dash.dashboard">
      <i class="icon ion-home"></i>
      Dashboard
    </a>
    <a ng-class="{active: tabFin}" class="tab-item" ui-sref="fin.graficos">
      <i class="icon ion-cash"></i>
      Financeiro
    </a>
    <a ng-class="{active: tabContab}" class="tab-item" ui-sref="contab.func">
      <i class="icon ion-briefcase"></i>
      Contabilidade
    </a>
   <!-- <a ng-class="{active: tabConsult}" class="tab-item" ui-sref="consult">
      <i class="icon ion-chatboxes"></i>
      Consultoria
    </a> -->
  </div>
</div>