<ion-view view-title="Movimentação">
	<ion-content>
		<div class="list" ng-if="vm.movimentos.length > 0">
			<a class="item item-icon-right" ng-click="vm.openModal(m)" ng-repeat="m in vm.movimentos">
				<i class="icon ion-minus-circled" style="font-size: 20px;color: {{(m.tipo == 'D') ? 'red' : 'blue'}}"></i>
				{{m.descricao}}
				<span class="item-note" style="color: {{(m.tipo == 'D') ? 'red' : 'blue'}}">
				  R$ {{m.valor}}
				</span>
			</a>
		</div>
	</ion-content>
	<nav mfb-menu position="br" effect="zoomin" label="Cadastrar Receita"
 	active-icon="ion-edit" resting-icon="ion-plus-round"
 	toggling-method="hover" main-action="vm.openModalReceita()" style="top: 55vh;">
     	<button mfb-button icon="icon ion-ios-arrow-down" ng-click="vm.openModalDespesa();" label="Despesa"></button>
     	<button mfb-button icon="icon ion-ios-pricetags-outline" label="Tipo de Receita" ng-click="vm.openModalTipoReceita()"></button>
     	<button id="botao-tipo-despesa" mfb-button icon="icon ion-ios-pricetags-outline" label="Tipo de Despesa" ng-click="vm.openModalTipoDespesa()"></button>
	</nav>
</ion-view>