<ion-view view-title="Despesas">
	<ion-content>
	<div class="list" ng-if="vm.despesas.length > 0">
		<a class="item item-icon-right" ng-click="vm.openModal(d)" ng-repeat="d in vm.despesas">
			<i class="icon ion-minus-circled" style="font-size: 20px;color: red"></i>
			{{d.descricao}}
			<span class="item-note" style="color: red">
			  R$ {{d.valor}}
			</span>
		</a>
	</div>
	</ion-content>
	<nav mfb-menu position="br" effect="zoomin" label="Cadastrar Despesa"
     active-icon="ion-edit" resting-icon="ion-plus-round"
     toggling-method="hover" style="top: 55vh;" ng-click="vm.criarDespesa()">
	</nav>
</ion-view>