<ion-view view-title="Receitas">
	<ion-content>
	<div class="list" ng-if="vm.receitas.length > 0">
		<a class="item item-icon-right" ng-click="vm.openModal(r)" ng-repeat="r in vm.receitas">
			<i class="icon ion-plus-circled" style="font-size: 20px;color: blue"></i>
			{{r.descricao}}
			<span class="item-note" style="color: blue">
			  R$ {{r.valor}}
			</span>
		</a>
	</div>
	</ion-content>
	<nav mfb-menu position="br" effect="zoomin" label="Cadastrar Receita"
     active-icon="ion-edit" resting-icon="ion-plus-round"
     toggling-method="hover" style="top: 55vh;" ng-click="vm.criarReceita()">
	</nav>
</ion-view>