<ion-view view-title="Tipos de Receita">
	<ion-content>
		<div class="list" ng-if="vm.tiposReceita.length > 0">
		  <div class="item item-button-right" ng-repeat="tr in vm.tiposReceita track by $index" style="color: {{tr.cor}}">
		  	<div>
			    {{tr.nome}}
		  	</div>
		    <button class="button button-assertive" ng-click="vm.deleteTipoReceita(tr.id)">
		    	<i class="icon ion-trash-a"></i>
		    </button>
		    <button class="button button-positive" style="right: 65px" ng-click="vm.criarTipoReceita(tr)">
	     		<i class="icon ion-edit"></i> 
		    </button>
		  </div>
		</div>
	</ion-content>
	<nav mfb-menu position="br" effect="zoomin" label="Cadastrar Tipo de Receita"
     active-icon="ion-edit" resting-icon="ion-plus-round"
     toggling-method="hover" style="top: 55vh;" ng-click="vm.criarTipoReceita()">
	</nav>
</ion-view>