<ion-view view-title="Tipos de Despesa">
	<ion-content>
		<div class="list" ng-if="vm.tiposDespesa.length > 0">
		  <div class="item item-button-right" ng-repeat="td in vm.tiposDespesa track by $index" style="color: {{td.cor}}">
		  	<div>
			    {{td.nome}}
		  	</div>
		    <button class="button button-assertive" ng-click="vm.deleteTipoDespesa(td.id)">
		    	<i class="icon ion-trash-a"></i>
		    </button>
		    <button class="button button-positive" style="right: 65px" ng-click="vm.criarTipoDespesa(td)">
	     		<i class="icon ion-edit"></i> 
		    </button>
		  </div>
		</div>
	</ion-content>
	<nav mfb-menu position="br" effect="zoomin" label="Cadastrar Tipo de Despesa"
     active-icon="ion-edit" resting-icon="ion-plus-round"
     toggling-method="hover" style="top: 55vh;" ng-click="vm.criarTipoDespesa()">
	</nav>
</ion-view>