<ion-view view-title="Funcionario">
  <ion-content>
	<div class="list">
		<a class="item item-icon-right" ng-click="vm.editarFunc(f)" ng-repeat="f in vm.funcionarios">
			<i class="icon ion-compose" style="font-size: 20px"></i>
			{{f.nome}}
			<span class="item-note">
			  {{f.cpf}}
			</span>
		</a>
	</div>
	<!--<div class="row" ng-if="!vm.funcionarios.length > 0">
		<div class="col col-offset-33">
			<a class="arrow-form-func" ng-click="vm.createFunc()"><i class="icon ion-plus-circled" style="font-size: 100px"></i></a>
		</div>
	</div>-->
  </ion-content>
	<nav mfb-menu position="br" effect="zoomin" label="Cadastrar Funcionário"
	 active-icon="ion-edit" resting-icon="ion-plus-round"
	 toggling-method="hover" style="top: 55vh;" ng-click="vm.createFunc()">
	</nav>
</ion-view>