<ion-view view-title="Impostos de {{vm.mes | nomeMes}}">
	<ion-content>
		<div class="list card">
			<a class="item item-icon-right">
				<i class="icon ion-printer"></i>
				Relação dos trabalhadores
			</a>
		</div>
		<div class="list card">
			<a class="item item-icon-right">
				<i class="icon ion-printer"></i>
				Relatório Analítico GRF
			</a>
		</div>
		<div class="list card">
			<a class="item item-icon-right">
				<i class="icon ion-printer"></i>
				Comprovante de contribuição
			</a>
		</div>
	</ion-content>
</ion-view>