<ion-view view-title="{{vm.title}}">
	<ion-content>
		<div class="list">
			<div class="item item-button-right" on-drag-right="vm.impostoMes(1);">
				Janeiro
				<button class="button button-calm" on-tap="vm.impostoMes(1);">
				  <i class="icon ion-chevron-right"></i>
				</button>
			</div>
			<div class="item item-button-right" on-drag-right="vm.impostoMes(2);">
				Fevereiro
				<button class="button button-calm" on-tap="vm.impostoMes(2);">
				  <i class="icon ion-chevron-right"></i>
				</button>
			</div>
			<div class="item item-button-right" on-drag-right="vm.impostoMes(3);">
				Março
				<button class="button button-calm" on-tap="vm.impostoMes(3);">
				  <i class="icon ion-chevron-right"></i>
				</button>
			</div>
			<div class="item item-button-right" on-drag-right="vm.impostoMes(4);">
				Abril
				<button class="button button-calm" on-tap="vm.impostoMes(4);">
				  <i class="icon ion-chevron-right"></i>
				</button>
			</div>
			<div class="item item-button-right" on-drag-right="vm.impostoMes(5);">
				Maio
				<button class="button button-calm" on-tap="vm.impostoMes(5);">
				  <i class="icon ion-chevron-right"></i>
				</button>
			</div>
			<div class="item item-button-right" on-drag-right="vm.impostoMes(6);">
				Junho
				<button class="button button-calm" on-tap="vm.impostoMes(6);">
				  <i class="icon ion-chevron-right"></i>
				</button>
			</div>
			<div class="item item-button-right" on-drag-right="vm.impostoMes(7);">
				Julho
				<button class="button button-calm" on-tap="vm.impostoMes(7);">
				  <i class="icon ion-chevron-right"></i>
				</button>
			</div>
			<div class="item item-button-right" on-drag-right="vm.impostoMes(8);">
				Agosto
				<button class="button button-calm" on-tap="vm.impostoMes(8);">
				  <i class="icon ion-chevron-right"></i>
				</button>
			</div>
			<div class="item item-button-right" on-drag-right="vm.impostoMes(9);">
				Setembro
				<button class="button button-calm" on-tap="vm.impostoMes(9);">
				  <i class="icon ion-chevron-right"></i>
				</button>
			</div>
			<div class="item item-button-right" on-drag-right="vm.impostoMes(10);">
				Outubro
				<button class="button button-calm" on-tap="vm.impostoMes(10);">
				  <i class="icon ion-chevron-right"></i>
				</button>
			</div>
			<div class="item item-button-right" on-drag-right="vm.impostoMes(11);">
				Novembro
				<button class="button button-calm" on-tap="vm.impostoMes(11);">
				  <i class="icon ion-chevron-right"></i>
				</button>
			</div>
			<div class="item item-button-right" on-drag-right="vm.impostoMes(12);">
				Dezembro
				<button class="button button-calm" on-tap="vm.impostoMes(12);">
				  <i class="icon ion-chevron-right"></i>
				</button>
			</div>
		</div>
	</ion-content>
</ion-view>
