<ion-view view-title="Impostos de {{vm.mes | nomeMes}}">
	<ion-content>
		<div class="list card">
			<a class="item item-icon-right" ng-class="{balanced: vm.impostos.status_das, assertive: !vm.impostos.status_das}">
				<i class="icon ion-printer"></i>
				DAS
			</a>
		</div>
		<div class="list card">
			<a class="item item-icon-right" ng-class="{balanced: vm.impostos.status_inss, assertive: !vm.impostos.status_inss}">
				<i class="icon ion-printer"></i>
				INSS
			</a>
		</div>
		<div class="list card">
			<a class="item item-icon-right" ng-class="{balanced: vm.impostos.status_fgts, assertive: !vm.impostos.status_fgts}">
				<i class="icon ion-printer"></i>
				FGTS
			</a>
		</div>
	</ion-content>
</ion-view>