<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar>
      <ion-toolbar>
        <ion-title> <img src="img/logo.png" class="logo-size" alt="logo"></ion-title>
      </ion-toolbar>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close ui-sref="contab.func" class="hover-ui-router">
          <i class="fa fa-id-card-o" aria-hidden="true"></i> Funcionarios
        </ion-item>
        <ion-item menu-close ui-sref="contab.impostom" class="hover-ui-router">
          <i class="fa fa-calendar-minus-o" aria-hidden="true"></i> Impostos Mensais
        </ion-item>
        <ion-item menu-close ui-sref="contab.gfip" class="hover-ui-router">
          <i class="fa fa-file-text" aria-hidden="true"></i> GFIP
        </ion-item>
        <ion-item menu-close ui-sref="contab.prolabore" class="hover-ui-router">
        	<i class="fa fa-file-text" aria-hidden="true"></i> Pró-labore
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
<div class="tabs-icon-top tabs-striped tab-royal">
  <div class="tabs">
    <a ng-class="{active: tabDash}" class="tab-item" ui-sref="dash.dashboard">
      <i class="icon ion-home"></i>
      Dashboard
    </a>
    <a ng-class="{active: tabFin}" class="tab-item" ui-sref="fin.graficos">
      <i class="icon ion-cash"></i>
      Financeiro
    </a>
    <a ng-class="{active: tabContab}" class="tab-item" ui-sref="contab.func">
      <i class="icon ion-briefcase"></i>
      Contabilidade
    </a>
    <!-- <a ng-class="{active: tabConsult}" class="tab-item" ui-sref="consult">
      <i class="icon ion-chatboxes"></i>
      Consultoria
    </a> -->
  </div>
</div>