<ion-modal-view>
	<ion-header-bar class="bar-stable">
	  <h1 class="title">Cadastrar Funcionário</h1>
      <div class="buttons">
      	<button type="button" name="button" class="button button-icon ion-android-close" ng-click="vm.modalFunc.hide()"></button>
	  </div>
	</ion-header-bar>
	<ion-content>
	 	<ion-list>
	      <ion-item class="item-divider">Dados Pessoais</ion-item>
	      	<div class="list">
			  <label class="item item-input">
			    <span class="input-label">Nome</span>
			    <input type="text" ng-model="vm.funcionario.nome">
			  </label>
			  <label class="item item-input">
			    <span class="input-label">Data de Nascimento</span>
			    <input type="text" ng-model="vm.funcionario.data_nascimento" ui-date-mask="DD/MM/YYYY">
			  </label>
			  <label class="item item-input">
			    <span class="input-label">CPF</span>
			    <input type="text" ng-model="vm.funcionario.cpf" ui-br-cpf-mask>
			  </label>
			  <label class="item item-input">
			    <span class="input-label">Registro Geral</span>
			    <input type="text" ng-model="vm.funcionario.rg">
			  </label>
			  <label class="item item-input">
			    <span class="input-label">Orgão Expedidor</span>
			    <input type="text" ng-model="vm.funcionario.orgao_expedidor">
			  </label>
			</div>
	      	<ion-item class="item-divider">Endereço</ion-item>
			<div class="list">
				<label class="item item-input">
					<span class="input-label">CEP</span>
					<input type="text" ng-model="vm.funcionario.cep" ui-br-cep-mask>
				</label>
				<label class="item item-input">
					<span class="input-label">Logradouro</span>
					<input type="text" ng-model="vm.funcionario.logradouro">
				</label>
				<label class="item item-input">
					<span class="input-label">Numero</span>
					<input type="text" ng-model="vm.funcionario.numero">
				</label>
				<label class="item item-input">
					<span class="input-label">Estado</span>
					<input type="text" ng-model="vm.funcionario.estado">
				</label>
				<label class="item item-input">
					<span class="input-label">Cidade</span>
					<input type="text" ng-model="vm.funcionario.cidade">
				</label>
			</div>
			<ion-item class="item-divider">Dados Trabalhistas</ion-item>
	  		<div class="list">
				<label class="item item-input">
					<span class="input-label">Cargo</span>
					<input type="text" ng-model="vm.funcionario.cargo">
				</label>
				<label class="item item-input">
					<span class="input-label">Data de Admissão</span>
					<input type="text" ng-model="vm.funcionario.data_admissao" ui-date-mask="DD/MM/YYYY">
				</label>
				<label class="item item-input">
					<span class="input-label">Salário</span>
					<input type="text" ng-model="vm.funcionario.salario" ui-money-mask>
				</label>
				<label class="item item-input">
					<span class="input-label">PIS</span>
					<input type="text" ng-model="vm.funcionario.pis">
				</label>
				<label class="item item-input">
					<span class="input-label">Numeiro da carteira de trabalho</span>
					<input type="text" ng-model="vm.funcionario.num_carteira_trabalho">
				</label>
				<label class="item item-input">
					<span class="input-label">Série</span>
					<input type="text" ng-model="vm.funcionario.serie_carteira_trabalho">
				</label>
				<label class="item item-input">
					<span class="input-label">Data de Expedição</span>
					<input type="text" ng-model="vm.funcionario.data_expedicao_carteira_trabalho" ui-date-mask="DD/MM/YYYY">
				</label>
				<label class="item item-input">
					<span class="input-label">UF da Carteira</span>
					<input type="text" ng-model="vm.funcionario.uf_carteira_trabalho">
				</label>
			</div>
			<ion-item class="item-divider">Outros</ion-item>
	  		<div class="list">
				<label class="item item-input">
					<span class="input-label">Nome do Pai</span>
					<input type="text" ng-model="vm.funcionario.nome_pai">
				</label>
				<label class="item item-input">
					<span class="input-label">Nome da Mãe</span>
					<input type="text" ng-model="vm.funcionario.nome_mae">
				</label>
				<label class="item item-input">
					<span class="input-label">Nacionalidade</span>
					<input type="text" ng-model="vm.funcionario.nascionalidade">
				</label>
				<label class="item item-input">
					<span class="input-label">Naturalidade</span>
					<input type="text" ng-model="vm.funcionario.naturalidade">
				</label>
				<label class="item item-input">
					<span class="input-label">Sexo</span>
					<input type="text" ng-model="vm.funcionario.sexo">
				</label>
				<label class="item item-input">
					<span class="input-label">Estado Civil</span>
					<input type="text" ng-model="vm.funcionario.estado_civil">
				</label>
				<label class="item item-input">
					<span class="input-label">E-mail</span>
					<input type="text" ng-model="vm.funcionario.email">
				</label>
				<label class="item item-input">
					<span class="input-label">Telefone</span>
					<input type="text" ng-model="vm.funcionario.telefone" ui-br-phone-number>
				</label>
			</div>
	    </ion-list>
	</ion-content>
	<ion-footer-bar align-title="left" class="bar-stable">
	  <div class="buttons" ng-click="vm.modalFunc.hide()">
	    <button class="button button-energized">Cancelar</button>
	  </div>
	  <h1 class="title"></h1>
	  <div class="buttons" ng-click="vm.saveFunc()">
	    <button class="button button-calm">Salvar</button>
	  </div>
	</ion-footer-bar>
</ion-modal-view>