<ion-view view-title="Pró-labore de {{vm.mes | nomeMes}}">
	<ion-content>
		<div class="list card" on-hold="vm.openPopover($event)" on-release="vm.closePopover()">
			<a class="item item-icon-right">
				<i class="icon ion-printer"></i>
				Pró-labore
			</a>
		</div>
	</ion-content>
	<script id="prolabore-popover.html" type="text/ng-template">
  		<ion-popover-view>
			<ion-header-bar>
		  		<h1 class="title">Sobre o Pró-Labore</h1>
			</ion-header-bar>
			<ion-content>
				<div class="row">
		  			O Pró-labore é isso, isso e isso!
		  		</div>
			</ion-content>
		</ion-popover-view>
	</script>
</ion-view>