<ion-view view-title="Login">
	<ion-content>
	<!-- FAZ TODO TEU CÓDIGO DENTRO DESSA TAG ION-CONTENT-->
	<div style="background-image: url(http://royaladvice.com.br/cliente/images/loginback.jpg); background-size: cover; max-width: 1200px; height: 100vh;">
		


		<div class="logo-login">
			
			<img src="img/logoroyal.png" class="" width="" alt="logo">

		</div>


		<div class="form-login">
			
			<input type="email" class="login-email" name="email" id="email" placeholder="E-mail" ng-model="vm.email" required>


			<input type="password" class="login-senha" name="senha" id="senha" placeholder="Sua Senha" ng-model="vm.password" required>



			<div class="box-botao-entrar">
				<a class="btn-entrar" ng-click="vm.login()">Entrar</a>
			</div>
			<div class="box-botao-cadastro">
				<a href="#tela_de_cadastro" class="btn-cadastro" ng-click="vm.modalCadastrar.show()">Cadastre-se</a>

			</div>


		</div>

	</div>






	</ion-content>
</ion-view>