<ion-modal-view>
	<ion-header-bar class="bar-stable">
		<h1 class="title">Cadastrar-se</h1>
		<div class="buttons">
			<button type="button" name="button" class="button button-icon ion-android-close" ng-click="vm.modalCadastrar.hide()"></button>
		</div>
	</ion-header-bar>
	<ion-content>
		<ion-toggle ng-model="vm.mei" toggle-class="toggle-calm">Possui Mei?</ion-toggle>
		<ion-item class="item-divider">Dados Pessoais</ion-item>
	      	<div class="list">
			  <label class="item item-input">
			    <span class="input-label">Nome Completo</span>
			    <input type="text" ng-model="vm.cliente.nome_completo">
			  </label>
			  <label class="item item-input">
			    <span class="input-label">Seu melhor e-mail</span>
			    <input type="text" ng-model="vm.cliente.email">
			  </label>
			  <label class="item item-input">
			    <span class="input-label">Telefone</span>
			    <input type="text" ng-model="vm.cliente.telefone">
			  </label>
			  <label class="item item-input">
			    <span class="input-label">Data de Nascimento</span>
			    <input type="text" ng-model="vm.cliente.data_nascimento">
			  </label>
			  <label class="item item-input">
			    <span class="input-label">CPF</span>
			    <input type="text" ng-model="vm.cliente.cpf">
			  </label>
			  <label class="item item-input">
			    <span class="input-label">Titulo de eleitor</span>
			    <input type="text" ng-model="vm.cliente.titulo_eleitor">
			  </label>
			  <label class="item item-input">
			    <span class="input-label">Estado</span>
			    <input type="text" ng-model="vm.cliente.estado">
			  </label>
			  <label class="item item-input">
			    <span class="input-label">Cidade</span>
			    <input type="text" ng-model="vm.cliente.cidade">
			  </label>
			  <label ng-show="vm.mei" class="item item-input">
			    <span class="input-label">CNPJ</span>
			    <input type="text" ng-model="vm.cliente.cnpj">
			  </label>
  			  <label ng-show="!vm.mei" class="item item-input">
			    <span class="input-label">Recibo imposto de renda</span>
			    <input type="text" ng-model="vm.cliente.numero_recibo_imposto_renda">
			  </label>
			</div>
	      	<ion-item class="item-divider">Endreço do cliente</ion-item>
			<div class="list">
				<label class="item item-input">
					<span class="input-label">Logradouro</span>
					<input type="text" ng-model="vm.cliente.logradouro_cliente">
				</label>
				<label class="item item-input">
					<span class="input-label">Número</span>
					<input type="text" ng-model="vm.cliente.numero_cliente">
				</label>
				<label class="item item-input">
					<span class="input-label">Bairro</span>
					<input type="text" ng-model="vm.cliente.bairro_cliente">
				</label>
				<label class="item item-input">
					<span class="input-label">CEP</span>
					<input type="text" ng-model="vm.cliente.cep_cliente">
				</label>
				
			</div>
			<ion-item class="item-divider">Endreço da empresa</ion-item>
			<div class="list">
				<label class="item item-input">
					<span class="input-label">Logradouro da empresa</span>
					<input type="text" ng-model="vm.cliente.logradouro_empresa">
				</label>
				<label class="item item-input">
					<span class="input-label">Número da empresa</span>
					<input type="text" ng-model="vm.cliente.numero_empresa">
				</label>
				<label class="item item-input">
					<span class="input-label">Bairro da empresa</span>
					<input type="text" ng-model="vm.cliente.bairro_empresa">
				</label>
				<label class="item item-input">
					<span class="input-label">CEP da empresa</span>
					<input type="text" ng-model="vm.cliente.cep_empresa">
				</label>
			</div>
	</ion-content>
	<ion-footer-bar align-title="left" class="bar-stable">
	  <div class="buttons" ng-click="vm.modalCadastrar.hide();">
	    <button class="button button-energized">Cancelar</button>
	  </div>
	  <h1 class="title"></h1>
	  <div class="buttons" ng-click="vm.cadastrar()">
	    <button class="button button-calm">Salvar</button>
	  </div>
	</ion-footer-bar>
</ion-modal-view>