<ion-modal-view>
	<ion-header-bar class="bar-stable">
		<h1 class="title">Nova Consultoria</h1>
		<div class="buttons">
			<button type="button" name="button" class="button button-icon ion-android-close" ng-click="vm.closeModal()"></button>
		</div>
	</ion-header-bar>
	<ion-content>
		<div class="row">
			<div class="col col-100">
			  	<div class="item">
			  		<div class="list">
					  <label class="item item-input">
					    <span class="input-label">Assunto</span>
					    <input type="text" ng-model="vm.consult.assunto">
					  </label>
					  <label class="item item-input">
					    <span class="input-label">Mensagem</span>
					    <textarea rows="5" ng-model="vm.consult.mensagem"></textarea>
					  </label>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
	<ion-footer-bar align-title="left" class="bar-stable">
	  <div class="buttons" ng-click="vm.closeModal()">
	    <button class="button button-energized">Cancelar</button>
	  </div>
	  <h1 class="title"></h1>
	  <div class="buttons" ng-click="vm.saveConsult()">
	    <button class="button button-calm">Salvar</button>
	  </div>
	</ion-footer-bar>
</ion-modal-view>