@font-face {
    font-family: "univia-pro";
    src: url(/fonts/univia/UniviaPro-Book.otf);
}

body {
	font-family: univia-pro;
}
/* Empty. Add your own CSS if you like */

.bar-stable.bar.bar-header > button.header-item {

	color: white;
	left: 0 !important;
 
}

.aberto-consult{
	color: green;
}

.em-consult{
	color: blue;
}

.encerrado-consult{
	color: red;
}

.tab-royal > .tabs{
	color:#00a7df;
}

.arrow-form-func > i {
	font-size: 50px;
}

.arrow-form-func:hover {
	cursor: pointer;
}

.hover-ui-router:hover {
	cursor: pointer;
}

.funcDesativado {
	background-color: gray;
}

.logo-size {
	width: 255px;
	height: 43px;
}

.bar{
	text-align: center; 
    background: -webkit-linear-gradient(90deg, #00a7df, #1cdffd)!important; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(90deg, #00a7df, #1cdffd)!important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(90deg, #00a7df, #1cdffd)!important; /* For Firefox 3.6 to 15 */
    background: linear-gradient(90deg, #00a7df, #1cdffd)!important; /* Standard syntax (must be last) */ 
    color:white!important;
}

.title{
	color:white!important;
	font-size: 18px!important;
	padding-top: 2px;
}
.ion-navicon{
	color:white!important;	
}

.tab-item{
	color:#00b5e9!important;
}

.tab-royal > .tabs > .tab-item.active{
	border-color: #00b5e9 !important;
}

.bar-header{
	height: 50px!important;
}

.item-icon-left .icon:before, .item-icon-right .icon:before {
    width: 20px;
}

.mfb-component__button--main, .mfb-component__button {

	background-color: #00b5e9!important;

}

.input-label{
	font-size: 10px;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"]{
	font-size: 11px;
}


.item-divider{
	font-size: 12px;
}

.item{
	font-size: 12px;
}

.item-note{
	font-size: 12px;
}

.title{
	font-size: 16px;
}

.button{
	font-size: 10px!important;
}
.button.button-positive{
	background-color: #f5f5f5;
	color: black;
}

.button.button-assertive{
	background-color: #f5f5f5;
	color: black;
}















.chat-box{
	padding: 10px 10px 10px 10px;


}

.chat-box-send{
	padding: 10px 10px 80px 10px;
	background-color: ;
}


.chat-box-input{
	border: 1px solid #eaeaea;
	width: 85%;
	float: left;

}


.chat-box-send-button{
	padding: 10px 13px 10px 13px;
	background-color: green;
	margin-left: 5px;
	border:0;
	border-radius: 50%;


}

.icon-send{
	font-weight: bold;
	color: white;
	font-size: 19px;
}



.chat-contador{
	text-align: left;
	padding: 10px 10px 10px 20px;
	background-color: #eaeaea;
	margin-top: 10px;
	position: relative;
	border-radius:10px;
	height: auto;

}

.chat-contador:after {
	content: '';
	position: absolute;
	width: 10px;
	height: 0;
	border: 10px solid;
	border-color: #eaeaea;
	background-color: #eaeaea;
	top: 10%;
	left: 10px;
	margin-left: -15px; /* ajustar pela largura do balão */
	transform: rotate(45deg);
}

.chat-contador-nome{
	width: 100%;
	
	font-weight: bold;
	padding-bottom: 10px;
	
}

.chat-contador-data{
	font-size: 9px;
	font-weight: 200;
	
	margin-bottom: 5px;

}


.chat-contador p{
	margin-top: 10px;
}

















.chat-cliente{
	text-align: right;
	padding: 10px 20px 10px 10px;
	background-color: #eaeaea;
	margin-top: 10px;
	position: relative;
	border-radius:10px;
	height: auto;

}

.chat-cliente:after {
	content: '';
	position: absolute;
	width: 10px;
	height: 0;
	border: 10px solid;
	border-color: #eaeaea;
	background-color: #eaeaea;
	top: 10%;
	right: 10px;
	margin-right: -15px; /* ajustar pela largura do balão */
	transform: rotate(45deg);
}

.chat-cliente-nome{
	width: 100%;
	
	font-weight: bold;
	padding-bottom: 10px;
	
}

.chat-cliente-data{
	font-size: 9px;
	font-weight: 200;
	
	margin-bottom: 5px;

}


.chat-cliente p{
	margin-top: 10px;
}





.logo-login{
	width: 100%;
	font-family: univia-pro;
	text-align: center;
}

.logo-login img{
	margin-top: 35%;
}



.form-login{
	width: 70%;
	margin-left: 15%;
	margin-top: 10%;
	font-family: univia-pro;
}



.login-email{
	width: 100%;
	padding: 20px!important;
	font-family: univia-pro;
	
}



.login-senha{
	width: 100%;
	margin-top: 10px;
	padding: 20px!important;
	font-family: univia-pro;
}



.box-botao-entrar{
	width: 45%;
	float: left;
	height: 100px;
	background: ;
	margin-top: 10%;
}


.box-botao-cadastro{
	width: 45%;
	float: right;
	height: 100px;
	background: ;
	margin-top: 10%;
}

.btn-entrar{
	background: -webkit-linear-gradient(90deg, #00a7df, #1cdffd)!important; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(90deg, #00a7df, #1cdffd)!important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(90deg, #00a7df, #1cdffd)!important; /* For Firefox 3.6 to 15 */
    background: linear-gradient(90deg, #00a7df, #1cdffd)!important; /* Standard syntax (must be last) */ 
	text-align: center;
	padding: 10px;
	float: left;
	width: 100%;
	margin-top: 10px;
	font-weight: bold;
	color: white;
}

.btn-cadastro{
	background: -webkit-linear-gradient(90deg, #00a7df, #1cdffd)!important; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(90deg, #00a7df, #1cdffd)!important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(90deg, #00a7df, #1cdffd)!important; /* For Firefox 3.6 to 15 */
    background: linear-gradient(90deg, #00a7df, #1cdffd)!important; /* Standard syntax (must be last) */ 
	text-align: center;
	padding: 10px;
	float: right;
	width: 100%;
	margin-top: 10px;
	font-weight: bold;
	color: white;
	text-decoration: none;
}



