<ion-modal-view>
	<ion-header-bar class="bar-stable">
		<h1 class="title">Detalhes</h1>
		<div class="buttons">
			<button type="button" name="button" class="button button-icon ion-android-close" ng-click="vm.closeModal()"></button>
		</div>
	</ion-header-bar>
	<ion-content>
		<div class="row">
			<div class="col col-40" style="text-align: right">
				Conta:
			</div>
			<div class="col col-60">
				{{vm.receita.conta}}
			</div>
		</div>
		<div class="row">
			<div class="col col-40" style="text-align: right">
				Descrição:
			</div>
			<div class="col col-60">
				{{vm.receita.descricao}}
			</div>
		</div>
		<div class="row">
			<div class="col col-40" style="text-align: right">
				Data:
			</div>
			<div class="col col-60">
				{{vm.receita.data | date:"dd/MM/yyyy"}}
			</div>
		</div>
		<div class="row">
			<div class="col col-40" style="text-align: right">
				Valor:
			</div>
			<div class="col col-60">
				R$ {{vm.receita.valor}}
			</div>
		</div>
		<div class="row">
			<div class="col col-40" style="text-align: right">
				Tipo:
			</div>
			<div class="col col-60">
				{{vm.receita.nomeTipo}}
			</div>
		</div>
	</ion-content>
</ion-modal-view>