<ion-modal-view>
	<ion-header-bar class="bar-stable">
		<h1 class="title">Detalhes da Conta</h1>
		<div class="buttons">
			<button type="button" name="button" class="button button-icon ion-android-close" ng-click="vm.closeModal()"></button>
		</div>
	</ion-header-bar>
	<ion-content>
		<div class="row">
			<div class="col col-40" style="text-align: right">
				<strong>Nome:</strong>
			</div>
			<div class="col col-60">
				{{vm.contaDetalhes.nome}}
			</div>
		</div>
		<div class="row">
			<div class="col col-40" style="text-align: right">
				<strong>Saldo:</strong>
			</div>
			<div class="col col-60">
				R$ {{vm.contaDetalhes.saldo}}
			</div>
		</div>
		<div class="row">
			<div class="col col-40" style="text-align: right">
				<strong>Cor:</strong>
			</div>
			<div class="col col-60">
				<i class="icon ion-pricetag" style="color: {{vm.contaDetalhes.cor}}"></i>
			</div>
		</div>
	</ion-content>
</ion-modal-view>