<ion-modal-view>
	<ion-header-bar class="bar-stable">
		<h1 class="title">Chat</h1>
		<div class="buttons">
			<button type="button" name="button" class="button button-icon ion-android-close" ng-click="vm.closeChat()"></button>
		</div>
	</ion-header-bar>
	<ion-content>
		
	</ion-content>
</ion-modal-view>