<ion-modal-view>
	<ion-header-bar class="bar-stable">
		<h1 class="title">Detalhes da Despesa</h1>
		<div class="buttons">
			<button type="button" name="button" class="button button-icon ion-android-close" ng-click="vm.closeModal()"></button>
		</div>
	</ion-header-bar>
	<ion-content>
		<div class="row">
			<div class="col col-40" style="text-align: right">
				<strong>Conta:</strong>
			</div>
			<div class="col col-60">
				{{vm.despesa.conta}}
			</div>
		</div>
		<div class="row">
			<div class="col col-40" style="text-align: right">
				<strong>Descrição:</strong>
			</div>
			<div class="col col-60">
				{{vm.despesa.descricao}}
			</div>
		</div>
		<div class="row">
			<div class="col col-40" style="text-align: right">
				<strong>Data:</strong>
			</div>
			<div class="col col-60">
				{{vm.despesa.data}}
			</div>
		</div>
		<div class="row">
			<div class="col col-40" style="text-align: right">
				<strong>Valor:</strong>
			</div>
			<div class="col col-60">
				R$ {{vm.despesa.valor}}
			</div>
		</div>
		<div class="row">
			<div class="col col-40" style="text-align: right">
				<strong>Tipo:</strong>
			</div>
			<div class="col col-60">
				{{vm.despesa.tipo}}
			</div>
		</div>
	</ion-content>
</ion-modal-view>