<ion-modal-view>
	<ion-header-bar class="bar-stable">
		<h1 class="title">{{vm.title}}{{vm.tipoMovCtrl.title}}</h1>
		<div class="buttons">
			<button type="button" name="button" class="button button-icon ion-android-close" ng-click="vm.tipoMovCtrl.close(vm.modalCriarTipoMov)"></button>
		</div>
	</ion-header-bar>
	<ion-content>
		<div class="row">
			<div class="col col-100">
			  	<div class="item item-text-wrap">
			  		<div class="list">
					  <label class="item item-input">
					    <span class="input-label">Nome</span>
					    <input type="text" ng-model="vm.tipoMovimento.nome">
					  </label>
					  <label class="item item-input">
					    <span class="input-label">Cor</span>
					    <input type="color" ng-model="vm.tipoMovimento.cor">
					  </label>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
	<ion-footer-bar align-title="left" class="bar-stable">
	  <div class="buttons">
	    <button class="button button-energized" ng-click="vm.tipoMovCtrl.close(vm.modalCriarTipoMov)">Cancelar</button>
	  </div>
	  <h1 class="title"></h1>
	  <div class="buttons" ng-click="vm.tipoMovCtrl.save(vm.modalCriarTipoMov, vm.tipoMovimento)">
	    <button class="button button-calm">Salvar</button>
	  </div>
	</ion-footer-bar>
</ion-modal-view>