<ion-modal-view>
	<ion-header-bar class="bar-stable">
		<h1 class="title">{{vm.modalMovCtrl.title}}</h1>
		<div class="buttons">
			<button type="button" name="button" class="button button-icon ion-android-close" ng-click="vm.modalMovCtrl.close(vm.modalCriarMovimento)"></button>
		</div>
	</ion-header-bar>
	<ion-content>
		<div class="row">
			<div class="col col-100">
			  	<div class="item item-text-wrap">
			  		<div class="list">
						<label class="item item-input item-select">
							<div class="input-label">
							  Conta
							</div>
							<select ng-model="vm.movimento.idconta">
							  <option value="">Selecione uma conta</option>
							  <option ng-repeat="option in vm.contas" value="{{option.id}}">{{option.nome}}</option>
							</select>
					  	</label>
					  <label class="item item-input">
					    <span class="input-label">Descrição</span>
					    <input type="text" ng-model="vm.movimento.descricao">
					  </label>
						<label class="item" ng-click="vm.abrirDatePicker()">
							<div class="row">
								<div class="col col-50">
									<span>Data</span>
								</div>
								<div class="col col-40">
									<span ng-bind="vm.movimento.data"></span>
								</div>
								<div class="col">
									<a class="button button-icon icon ion-calendar"></a>
								</div>
							</div>
					   	</label>
					  <label class="item item-input">
					    <span class="input-label">Valor</span>
					    <input type="text" ng-model="vm.movimento.valor" ui-money-mask>
					  </label>
						<label class="item item-input item-select">
							<div class="input-label">
							  Tipo
							</div>
							<select ng-model="vm.movimento.idtipo" ng-options="m.id as m.nome for m in vm.tipos">
								<option value="">Selecione um tipo</option>
							</select>
					  	</label>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
	<ion-footer-bar align-title="left" class="bar-stable">
	  <div class="buttons" >
	    <button class="button button-energized" ng-click="vm.modalMovCtrl.close(vm.modalCriarMovimento)">Cancelar</button>
	  </div>
	  <h1 class="title"></h1>
	  <div class="buttons" ng-click="vm.modalMovCtrl.save(vm.modalCriarMovimento, vm.movimento, vm.data)">
	    <button class="button button-calm">Salvar</button>
	  </div>
	</ion-footer-bar>
</ion-modal-view>