<ion-modal-view>
	<ion-header-bar class="bar-stable">
		<h1 class="title">Criar Conta</h1>
		<div class="buttons">
			<button type="button" name="button" class="button button-icon ion-android-close" ng-click="vm.closeModalCriarConta()"></button>
		</div>
	</ion-header-bar>
	<ion-content>
		<div class="row">
			<div class="col col-100">
			  	<div class="item item-text-wrap">
			  		<div class="list">
					  <label class="item item-input">
					    <span class="input-label">Nome</span>
					    <input type="text" ng-model="vm.conta.nome">
					  </label>
					  <label class="item item-input" ng-if="!vm.editConta">
					    <span class="input-label">Saldo</span>
					    <input type="text" ng-model="vm.conta.saldo" ui-money-mask>
					  </label>
					  <label class="item item-input">
					    <span class="input-label">Cor</span>
					    <input type="color" ng-model="vm.conta.cor">
					  </label>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
	<ion-footer-bar align-title="left" class="bar-stable">
	  <div class="buttons" ng-click="vm.closeModalCriarConta()">
	    <button class="button button-energized">Cancelar</button>
	  </div>
	  <h1 class="title"></h1>
	  <div class="buttons" ng-click="vm.criaEditaConta()">
	    <button class="button button-calm">Salvar</button>
	  </div>
	</ion-footer-bar>
</ion-modal-view>